@model TallinnaRakenduslikKolledz.Models.Student

@{
	ViewData["Title"] = "Kustuta õpilane";
}

<hl>Kustuta õpilane</hl>
<h3>
	Kas oled kindel, et tahad õpilast @Model.FirstName @Model.LastName eemaldada?
</h3>
<div>
	<h4>Õpilane @Model.FirstName @Model.LastName</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">@Html.DisplayNameFor(Model => Model.LastName)</dt>
		<dd class="col-sm-10">@Html.DisplayFor(Model => Model.LastName)</dd>
	</dl>
	<dl class="row">
		<dt class="col-sm-2">@Html.DisplayNameFor(Model => Model.FirstName)</dt>
		<dd class="col-sm-10">@Html.DisplayFor(Model => Model.FirstName)</dd>
	</dl>
	<dl class="row">
		<dt class="col-sm-2">@Html.DisplayNameFor(Model => Model.Age)</dt>
		<dd class="col-sm-10">@Html.DisplayFor(Model => Model.Age)</dd>
	</dl>
	<dl class="row">
		<dt class="col-sm-2">@Html.DisplayNameFor(Model => Model.HomeAddress)</dt>
		<dd class="col-sm-10">@Html.DisplayFor(Model => Model.HomeAddress)</dd>
	</dl>
	<dl class="row">
		<dt class="col-sm-2">@Html.DisplayNameFor(Model => Model.Iq)</dt>
		<dd class="col-sm-10">@Html.DisplayFor(Model => Model.Iq)</dd>
	</dl>
	<dl class="row">
		<dt class="col-sm-2">@Html.DisplayNameFor(Model => Model.EnrollmentDate)</dt>
		<dd class="col-sm-10">@Html.DisplayFor(Model => Model.EnrollmentDate)</dd>
	</dl>

	@if (Model.Enrollments != null)
	{
		foreach (var courseEnrollment in Model.Enrollments)
		{
			<dl class="row">
				<dd class="col-sm-10">@(courseEnrollment)</dd>
			</dl>
		}
	}
	@if (Model.Enrollments != null)
	{
		foreach (var Age in Model.Enrollments)
		{
			<dl class="row">
				<dd class="col-sm-10">@(Age)</dd>
			</dl>
		}
	}
	@if (Model.Enrollments != null)
	{
		@Model.Iq
	}

</div>
<form asp-action="Delete">
	<input type="hidden" asp-for="Id" />
	<input type="submit" value="Kustuta õpilane" class="btn btn-danger" /> | <a asp-action="Index">Tühista</a>

</form>
